/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~material-icons/iconfont/material-icons.css";

@import "~@angular/material/theming";
// Import the desired color palettes and themes
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "~bootstrap/dist/css/bootstrap.css";
// Define your custom theme
$custom-primary: mat-palette($mat-indigo);
$custom-accent: mat-palette($mat-pink, A200);
$custom-theme: mat-light-theme($custom-primary, $custom-accent);

// Apply the custom theme to the Angular Material components
@include angular-material-theme($custom-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // background-color: rgb(183, 181, 192) !important;
  background-color:white !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// .dateRange .mat-form-field-flex {
//     display: inline-flex;
//     align-items: baseline;
//     box-sizing: border-box;
//     width: 100%;
//     background: white;

// }

.mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0px !important;
}

.mat-radio-outer-circle {
  border-color: rgb(255 255 255) !important;
}

.custom-dialog .mat-dialog-container {
  border-radius: 0;
  overflow: auto;
  height: auto;
}
//   .dialogclass .mat-dialog-container {
//     border-radius: 0;
//     overflow: auto;
//     height: auto;
//   }

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0px !important;
  margin-bottom: -25px !important;
  position: relative !important;
  bottom: 20px !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0px !important;
  display: none !important;
}

.mat-option-text {
  display: inline-block;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
}

.mat-select-panel .mat-optgroup-label,
.mat-select-panel .mat-option {
  font-size: inherit;
  line-height: 3em;
  // height: 18em !important;
  background-color: white !important;
}



.mat-option-text {
  display: inline-block;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-y: scroll !important;
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #707070;
}




.mat-dialog-container {
  display: block;
  padding: 24px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden !important; 
  outline: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
}


.mat-header-row {
  position: sticky !important;
  top: 0;
  background-color: white; /* Set the background color as needed */
  z-index: 1 !important; /* Ensure the header stays above the content */
}


.mat-tab-body-content {
  height: 100%;
  overflow: hidden !important; 
}







.form-select1 {
  // --bs-form-select-bg-img: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e);
  --bs-form-select-bg-img: none !important;
  display: block;
  width: 100%;
  padding: 0.375rem 0.25rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: 5px !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  appearance: none;
}



.parent .mat-pseudo-checkbox {
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 2px;
  cursor: pointer;
  display: none !important;
  vertical-align: middle;
  box-sizing: border-box;
  position: relative;
  flex-shrink: 0;
  transition: border-color 90ms cubic-bezier(0, 0, 0.2, 0.1),background-color 90ms cubic-bezier(0, 0, 0.2, 0.1);
}