<div style="display:flex;justify-content:end;">
  <button class="btn" mat-icon-button matTooltip="" (click)="close()">
    <span class="material-icons icon-black" style="color: rgb(0, 0, 0);">
      close
    </span>
  </button>
</div>
<div class="container">
  <h2>Add Note</h2>
  <form action="#" method="POST" [formGroup]="form">
    <input formControlName="title" type="text" name="title" placeholder="Enter title" required>
    <input formControlName="content" type="text" name="content" placeholder="Enter content" required>









<!-- 
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Select Users" aria-label="Select Users" matInput [matAutocomplete]="auto" [formControl]="userControl">
    <mat-hint>Enter text to find users by name</mat-hint>
  </mat-form-field>
  
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let user of filteredUsers | async" [value]="selectedUsers">
          <div (click)="optionClicked($event, user)">
              <mat-checkbox [checked]="user.selected" (change)="toggleSelection(user)" (click)="$event.stopPropagation()">
                  {{ user.firstname }} {{ user.lastname }}
              </mat-checkbox>
          </div>
      </mat-option>
  </mat-autocomplete>
   -->
  <!-- <br><br>
  
  <label>Selected Users:</label>
  <mat-list dense>
      <mat-list-item *ngIf="selectedUsers?.length === 0">(None)</mat-list-item>
      <mat-list-item *ngFor="let user of selectedUsers">
          {{ user.firstname }} {{ user.lastname }}
      </mat-list-item>
  </mat-list>

 -->












    <button type="submit" (click)="this.addnote()">Add