<div  style="display:flex;justify-content:end;">
  <button class="btn" mat-icon-button matTooltip="" (click)="close()">
    <span class="material-icons icon-black" style="color: rgb(0, 0, 0);">
      close
    </span>
  </button>
</div>
<div class="container">

 
    <h2>Change Password</h2>
    <form action="#" method="POST" [formGroup]="form">
      <input formControlName="oldPassword" type="email" name="username" placeholder="Enter old password" required>
      <input formControlName="newPassword" type="email" name="email" placeholder="Enter new password" required>
      <input formControlName="confirmPassword" type="email" name="email" placeholder="Enter confirm password" required>
      <button type="submit" (click)="this.changePassword()">Change Password</button>
    </form>
  </div>